/* General */
	body
	{
		font-family: 'Raleway';
		color:#465665;
	}

	p
	{
		font-family: 'Muli', sans-serif;
	}

	.contratanos, #contratanos, #btn-contratanos
	{
		cursor: pointer !important;
	}
	

	.background-alt
	{
		background: #F5F7F7;
	}

	.alerta
	{
		color:#D12B5E;
		font-weight: 600;
	}

	.destacado
	{
		color:#30B788;
		font-weight: 600;
	}

	.destacado-2
	{
		color:#5381C3;
		font-weight: 600;
	}

	.strong
	{
		font-weight: 600;
	}

	.btn-factura
	{
		background: #175084;
		color:#fff;
		border-radius:25px;
		font-weight: 800;
		text-transform: uppercase;
		font-size: 18px;
		max-width: 170px;
		max-height: 50px;
	}

	.btn.mail
	{
		background: #fff;
		border-radius: 25px;
		max-width:275px;
		color:#000;
		border:#707070;
	}

	.form-cta .offset-lg-3
	{
		margin-left:29%;
	}

	.form-cta .offset-lg-1
	{
		margin-left: -6%;
	}

	.container-text
	{
		background: #fff;
		border-radius:13px;
		padding:2.5rem;
	}

	.extra-bold
	{
		font-weight: 900;
	}

/* Header */

	nav #logo
	{
		width:140px;
	}

	.navbar-nav a
	{
		color:#175084;
		font-size: 15px;
		font-weight: bold;
	}

	nav.p-3
	{
		padding: 1rem 6rem !important;
	}

	nav li
	{
		margin-right:15px;
	}

	nav li.active
	{
		border-bottom: 2px solid #4ABEC3;
	}

	.btn-contratanos
	{
		background-color: #4ABEC3;
		border-radius:30px;
		color:#fff !important;
		font-weight: 800;
		text-transform: uppercase;
	}

	nav .btn-contratanos	
	{
		width:140px;
		height: 40px;
		box-shadow: 0.3px 0.3em 0.5em rgba(0,0,0,0.1);
		border:#95989A;	
		font-size:14px;
		font-weight: 800;

	}

	.navbar-light.navbar-toggler 
	{
	    border-color: rgba(0,0,0,.1);
	}
	
	nav li.contratanos
	{
		margin-right: 10px;
	}

	.btn-login
	{
		border: 1px solid #175084;
		border-radius:30px;
		width:140px;
		height: 40px;
		text-align: center;
	}

/* Cover */
	#main
	{
		background-image: url('../assets/img/cover_home@2x.png');
		background-size: cover;
		max-height: 600px;
		height:574px;
		margin-top:-48px;
	}

	#main h2
	{
		font-size:80px;
		font-weight: 900;
		margin-top:93px;
		line-height: 60px;
	}

	#main h3
	{
		font-size:33px;
		font-weight: 400;
		line-height: 60px;
		border-bottom: 2px solid #4ABEC3;
	}

	#main p
	{
		font-size:21px;
		line-height: 25px;
		padding-bottom: 1rem;
	}

	#main .row
	{
		padding:10px;
	}

	form #mail-contratanos
	{
		border-radius:30px;
		font-weight: 600;
		width: 285px;
		height: 50px;
		font-weight: 700;
	}
	form #contratanos
	{
		margin-left:30px;
		max-width:170px;
		height:50px;
		text-transform: uppercase;
		font-family: 'Raleway';
		font-size:18px;
		font-weight: 800;	
	}
	
/* Cómo funciona */

	#como-funciona .row:nth-child(2) img
	{
		width:100px;
	}

	#como-funciona h4
	{
		margin-top:20px;
	}

	#panel-deudores img
	{
		width:55%;
	}
	
	#como-funciona .linea
	{
		width:125%;
		border:#4ABEC3 1px solid;
	}

	#como-funciona .linea:nth-child(1)
	{
		width:120%;
	}


	#como-funciona .btn-factura
	{
		margin-top:-20px;
	}

	#como-funciona .btn-factura:hover
	{
		color:#fff;
	}	

/* Sistema */
	
	.sistema h4
	{
		font-size:36px;
		line-height: 42px;
	}

	.sistema .container-text p
	{
		font-size:23px;
		line-height: 32px;
	}

	.sistema img
	{
		width:250px;
	}

	.sistema img:nth-child(1)
	{
		float:right;
		margin-bottom:40px;
	}

/* Panel */

	#panel-deudores
	{
		margin-top: 3rem;
		margin-bottom: 5rem;
	}

/* El proceso */

	.proceso h3, #como-funciona h3
	{
		font-weight: 800;
		font-size: 36px;
	}
	
	a.list-group-item
	{
		font-size:22px;
	}

	a.list-group-item.active
	{
		background-color:#6C76C7;
		border-color: #6C76C7; 
	}

	a.list-group-item span
	{
		padding: 1px 11px;
		border-radius: 100%;
		background: #fcfcfc;
		color:#6C76C7;
		font-weight: 600;
		font-size:30px;
	}


	.tab-content .tab-pane p
	{
		font-size:21px;
	}

/* Call to Action */
	.call-to-action 
	{
		background-image: url('../assets/img/Contrata Factura Protegida@2x.png');
		background-size: 110%;
	    background-position-x: 59%;
	}

	.call-to-action .container-fluid .gap
	{
		min-height: 32vw;
	}

	.call-to-action h3
	{
		font-size:2.25rem;
	}

	.call-to-action a.btn-factura
	{
		color:#fff;
		cursor: pointer;
	}
/* Footer */
	footer 
	{
		background: linear-gradient(to right, #396286 , #174675);
		font-size:14px;
	}

	footer h4
	{
		color: #fff;
		font-weight: 700;
	}

	footer p, footer a
	{
		color:#98C1E6;
	}

	footer img
	{
		width:140px;
	}

	footer ul
	{
		padding-inline-start: 0;
		margin-block-start: 0;
	}

	footer ul li
	{
		list-style: none;
	}

	.text-copyright p
	{
		font-size:14px;
	}
	/*
	#copyright
	{
		background: #0D1924;
		width: 116%;
	    margin-left: -8%;
	    margin-top:1rem;
	}
	*/

	#copyright
	{
		background: #0D1924;
	}

	#copyright .row
	{
		margin:0;
	}

	#copyright p
	{
		color:#fff;
		font-size: 14px;
	}

	#copyright a
	{
		color: #5381C3;
	}

/* Modal */ 

	.modal-content
	{
		border-radius:12px;
	}

	.modal-body input
	{
		color:#80909E;
		font-weight: 600;
		font-size:18px;
		font-family: 'Raleway';
	}

	.modal-header
	{
		background: #E9EEEE;
		color:#2C475F;
		display: block;
		text-align: center;
		font-size:19px;
		border-radius: 12px;
	}

	.modal-header img
	{
		width:180px;
	}
	
	.modal-footer
	{
		border-top:0;
	}

	.modal-footer .btn-contratanos
	{
		width: 170px;
		height: 50px;
	}

/* R E S P O N S I V E */

@media screen and (max-width: 768px) {
	
	nav li.active 
	{
	    width: 40%;
	}

	nav li.contratanos 
	{
	    margin-right: 10px;
	    margin: 15px 0;
	}

	nav.p-3
	{
		padding: 1rem !important;
	}

	#main .pt-4
	{
		padding-top: 0 !important; 
	}
	
	

/* Cover */
	#main .row
	{
		padding: 8px;
	}

	#main h2
	{
		font-size:60px;
		line-height: 25px;
	}

	#main h3
	{
		font-size:22px;
		line-height: 50px;
	}

	#main p
	{
		font-weight: 300;
	}

	form #contratanos
	{
		margin-left: 0;
	}
/* Cómo funciona */

	#como-funciona h3, .proceso h3
	{
		font-size:32px;
	}
	#como-funciona .linea:nth-child(1)
	{
		width:100%;
	}

	#como-funciona .btn-factura
	{
		margin-left:-15%;
	}
/* Sistema */
	.sistema h4 
	{
    	font-size: 28px;
    	line-height: 36px;
    } 

    .sistema .container-text p 
    {
	    font-size: 19px;
	    line-height: 29px;
	}

	.sistema img 
	{
    	width: 45%;
	}

	.sistema img:nth-child(1)
	{
	    float: right;
	    margin-bottom: 40px;
	    margin-top: 7%;
	}
/* Panel Deudores */
	#panel-deudores p.h3
	{
		font-size:1.6rem;
	}

	#panel-deudores img 
	{
    	width: 95%;
	}
/* El proceso */
	#el-proceso a.list-group-item
	{
    	font-size: 18px;
	}
	
	#el-proceso a.list-group-item span
	{
		font-size:25px;
	}

	#el-proceso .tab-content .tab-pane p
	{
		font-size:19px;
	}
/* Call to action */

	.call-to-action
	{
		background-image: url('../assets/img/Contrata Factura Protegida Mobile@2x.png');
		background-position-x: 50%;
		background-position-y: 100%;
    	background-repeat-y: no-repeat;
    	background-size: 115%;
	}

	.call-to-action h3
	{
		font-size:1.6rem;
		font-weight: 700;
	}

	.call-to-action .pt-4 h3 
	{
		margin-bottom: 20%;
	}

	.call-to-action .h5
	{
		font-size:1.15rem;
	}

	.form-cta .offset-lg-3, .form-cta .offset-lg-1
	{
		margin-left: 0;
	}

	h3
	{
		font-size:8vw;
		font-weight: 800;
	}

	footer
	{
		text-align:center !important;
	}

}

@media screen and (min-width: 768px) {


.br-mobile
{
	display: none;
}
.list-group
	{
		width:400px;
	}
}

